
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" media="all" />
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/bundle.js"></script>
  <style>
  body, html {
      height: 95%;
      padding: 0;
  }

  #floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #109DEF;
    position: fixed;
    top: 100px;
    left: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 1;
  }
  #floating-panel{
    width: 200px;
    height: 300px;
    border-radius: 1%;
    position: fixed;
    top: 100px;
    left: 100px;
    box-shadow: 0px 2px 5px #666;
    z-index: 1;
  }
  .panel-floating{
    height: 40px;
    box-shadow: 0px 2px 5px #666;
    margin-bottom: 10px;
    margin-right: 0px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
  }
  .panel-floating-inside{
    display : inline-flex;
    align-items: center;
    padding : 5px;
    height : 100%;
  }
  .plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  #container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  #main-canvas{
    padding : 10px;
    width:100%;
    height:100%;
  }
  .header-item{
    width: 100px;
    height: 50px;
    align-items: center;
    cursor : pointer;
  }
  .header-span{
    margin:auto;
  }
  </style>
</head>
<body onload="getJson();" style="background-color:white;">
    <nav class="navbar navbar-default" style="height:50px;margin-bottom:0px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Traverser360</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right:0px;">

          <ul class="nav navbar-nav">

            <li class="dropdown" style="width:80px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">페이지<span class="caret"></span></a>
              <ul class="dropdown-menu" id="scene-dropdown">
              </ul>
            </li>
          <li><div id="scene-list"></div></li>

          </ul>
          <ul class="nav navbar-nav navbar-right" style="text-align:center;">
            <li class="header-item" style="display:inline-flex;" onClick="switchEditorMode()">
              <span class="header-span">미리보기</span>
            </li>
            <li class="header-item" style="display:inline-flex;" onClick="saveProject(1, <%= sceneID %>);">
              <span class="header-span">저장</span>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="container">
      <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="openMenu()">
          <p class="plus">+</p>
      </div>
      <div id="floating-panel" class="panel panel-default" style="display:none;">
        <div class="panel-body" style="padding:10px;">
          <div class="panel panel-default panel-floating" onClick="getImagePopup();">
            <div class="panel-body panel-floating-inside">
              <span>Image</span>
            </div>
          </div>
          <div class="panel panel-default panel-floating" onclick="createOption()">
            <div class="panel-body panel-floating-inside">
              <span>button2</span>
            </div>
          </div>
          <div class="panel panel-default panel-floating" onclick="createScene()">
            <div class="panel-body panel-floating-inside">
              <span>Scene</span>
            </div>
          </div>
        </div>
      </div>
      <div id="main-canvas" class="col-md-8" style="height:100%;">
        <iframe id="main_scene" class="main_scene" width="100%" height="100%" allowfullscreen="yes" scrolling="no" allowvr="yes" src="../static/html/canvas.html"></iframe>
      </div>
  </div>
</body>
<!-- Modal -->
<div id="imageModal" class="modal fade" role="dialog">
    <form id="image_form" method="post" enctype="multipart/form-data" target="uploader_iframe">
        <input type="submit" style="position: absolute; left: -9999px" />
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Image</h4>
                </div>
                <div class="modal-body">
                  <fieldset>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="radio" style="display:flex;">
                          <label>
                            <input id="inlineradio1" name="sampleinlineradio" value="option1" type="radio" checked/>URL :
                          </label>
                          <input id="img-url" type="" name="" style="width:400px;margin-left:50px"/>
                        </div>
                        <div class="radio" style="display:flex;">
                          <label>
                            <input id="inlineradio2" name="sampleinlineradio" value="option2" type="radio"/>File :
                          </label>
                          <input id="image_file" type="file" name="image_file" size="30" style="display:inline-flex;margin-left:50px;margin-top:3px" disabled="true"/>
                          <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-close" class="btn btn-default" data-dismiss="modal" onClick="resetForm()">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" value="OK" onClick="submitImage();">OK</button>
                </div>
            </div>
        </div>
    </form>
  </div>
</html>
<script type="text/javascript">

var imageFlag = -1;
var FLAG_IMAGE = 1;
var FLAG_BACKGROUND = 2;

$(document).ready(function () {
  $('#inlineradio1').click(function () {
    $("#img-url").prop('disabled', false);
    $("#image_file").prop('disabled', true);
  });
  $('#inlineradio2').click(function () {
    $("#img-url").prop('disabled', true);
    $("#image_file").prop('disabled', false);
  });

  $('#image_form').submit(function(){
    if(imageFlag == FLAG_IMAGE){
      $(this).attr('action', "/project/<%= sceneID %>/image");
    }else if(imageFlag == FLAG_BACKGROUND){
      $(this).attr('action', "/project/<%= sceneID %>/background");
    }else{
      return;
    }

    $("#uploader_iframe").unbind().on('load', function() {  // This block of code will execute when the response is sent from the server.
      result = JSON.parse($(this).contents().text());  // Content of the iframe will be the response sent from the server. Parse the response as the JSON object
      if(imageFlag == FLAG_IMAGE){
        $("#img-url").val(""+result.result);
        create('image');
      }else{
        setBackground(result.result);
      }
      resetForm();
    });
  });
});

function openMenu(){
  if($("#floating-panel").css("display") == "none"){
    $("#floating-panel").css("display", "");
    return;
  }
  $("#floating-panel").css("display", "none");
}

function getJson(){
  $.ajax({
    url : '/project/load/<%= sceneID %>',
    method : 'get',
    data : {
    },
    dataType : "html",
    success : function (data) {
      if(data.length > 0){
        loadProject(data);
        return;
      }
      getBackgroundPopup();
    },
    error : function(request,status,error){
      console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
     }
  });
}

function getBackgroundPopup(){
  imageFlag = FLAG_BACKGROUND;
  $('#imageModal').modal('show');
}

function getImagePopup(){
  imageFlag = FLAG_IMAGE;
  $('#imageModal').modal('show');
}

function submitImage(){
  if($("#inlineradio1:checked").val()){
    if(imageFlag == FLAG_IMAGE)
      create('image');

    if(imageFlag == FLAG_BACKGROUND)
      setBackground($("#img-url").val());

    $("#modal-close").click();
    return;
  }
  $("#image_form").submit();
}

function resetForm(){
  $("#img-url").val("");
  $("#image_file").val("");
}
</script>
