<div class="header_wrapper">
  <div class="logo_sect">
        <a href="index.html" class="logo"><img src="../static/img/logo.png" alt=""  class="logo_def"><img src="../static/img/retina/logo.png" alt="" class="logo_retina"></a>
        <div class="slogan">Traverser360 VR Editor</div>
    </div>
    <div class="header_rp">
        <nav>
            <div class="menu-main-menu-container">
              <ul id="menu-main-menu" class="menu">
                  <li class="menu-item-has-children">
                      <a href="/login"><span>Login</span></a>
                  </li>
                    <li class="menu-item-has-children">
                      <a href="/"><span>Home</span></a>
                      <!--
                        <ul class="sub-menu">
                            <li><a href="gallery_kenburns.html"><span>Kenburns</span></a></li>
                            <li><a href="gallery_flow.html"><span>Flow</span></a></li>
                            <li><a href="gallery_ribbon.html"><span>Ribbon</span></a></li>
                            <li><a href="gallery_photo_listing.html"><span>Photo Listing</span></a></li>
                            <li><a href="gallery_grid.html"><span>Grid</span></a></li>
                            <li><a href="gallery_grid_with_margin.html"><span>Grid 2</span></a></li>
                            <li><a href="gallery_masonry.html"><span>Masonry</span></a></li>
                            <li><a href="gallery_masonry_with_margin.html"><span>Masonry 2</span></a></li>
                        </ul>-->
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#"><span>About us</span></a>
                        <!--<ul class="sub-menu">
                          <li class="current-menu-item"><a href="portfolio_grid1.html"><span>Grid Style 1</span></a></li>
                            <li><a href="portfolio_grid2.html"><span>Grid Style 2</span></a></li>
                            <li><a href="portfolio_masonry_listing.html"><span>Masonry Style</span></a></li>
                            <li><a href="portfolio_standard.html"><span>Isotope</span></a></li>
                            <li class="menu-item-has-children">
                              <a href="#"><span>Columns</span></a>
                                <ul class="sub-menu">
                                  <li><a href="portfolio_1col.html"><span>1 Column</span></a></li>
                                    <li><a href="portfolio_2col.html"><span>2 Columns</span></a></li>
                                    <li><a href="portfolio_3col.html"><span>3 Columns</span></a></li>
                                    <li><a href="portfolio_4col.html"><span>4 Columns</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                              <a href="#"><span>Fullscreen Posts</span></a>
                                <ul class="sub-menu">
                                  <li><a href="fullscreen_ribbon_post.html"><span>Ribbon</span></a></li>
                                    <li><a href="fullscreen_post_without_info.html"><span>Without Info</span></a></li>
                                    <li><a href="fullscreen_post_with_info.html"><span>With Info</span></a></li>
                                    <li><a href="fullscreen_video_post_without_info.html"><span>Video Post</span></a></li>
                                    <li><a href="fullscreen_post_sidebar.html"><span>With Sidebar</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                              <a href="#"><span>Simple Posts</span></a>
                                <ul class="sub-menu">
                                    <li><a href="simple_fullwidth_image_post.html"><span>Image</span></a></li>
                                    <li><a href="video_post_with_gallery.html"><span>Video</span></a></li>
                                    <li><a href="simple_image_post.html"><span>With Sidebar</span></a></li>
                                </ul>
                            </li>
                        </ul>-->
                    </li>
                    <li class="menu-item-has-children">
                      <a href="/project"><span>Project</span></a>
                        <!--<ul class="sub-menu">
                            <li><a href="fullscreen_blog.html"><span>Fullscreen</span></a></li>
                            <li class="menu-item-has-children">
                              <a href="#"><span>Standard</span></a>
                                <ul class="sub-menu">
                                    <li><a href="blog_with_right_sidebar.html"><span>Right Sidebar</span></a></li>
                                    <li><a href="blog_with_left_sidebar.html"><span>Left Sidebar</span></a></li>
                                    <li><a href="fullwidth_blog.html"><span>Fullwidth</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                              <a href="#"><span>Posts Variants</span></a>
                                <ul class="sub-menu">
                                    <li><a href="fullwidth_image_post.html"><span>Fullwidth Post</span></a></li>
                                    <li><a href="vimeo_video_post.html"><span>Right Sidebar</span></a></li>
                                    <li><a href="post_with_left_sidebar.html"><span>Left Sidebar</span></a></li>
                                </ul>
                            </li>
                        </ul>-->
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#"><span>Contact</span></a>
                        <!--<ul class="sub-menu">
                            <li><a href="contacts_fullscreen.html"><span>Fullscreen</span></a></li>
                            <li><a href="contact_with_sidebar.html"><span>With Sidebar</span></a></li>
                            <li><a href="contact_fullwidth.html"><span>Fullwidth</span></a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>
            <div class="search_fadder"></div>
            <div class="header_search">
                <form name="search_form" method="get" action="#" class="search_form">
                  <input type="text" name="s" value="" placeholder="Search the site..." class="field_search">
                </form>
            </div>
        </nav>
        <a class="search_toggler" href="#"></a>
</div>
    <div class="clear"></div>
</div>
