<!DOCTYPE html>
<html>

<head>
    
<link rel="shortcut icon" href="img/favico.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
<title>Traverser360 VR Editor</title>
<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,900" rel="stylesheet" type="text/css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/custom.css" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/editor.css" type="text/css">
<link rel="stylesheet" type="text/css" href="static/css/dropzone.css">

<script type="text/javascript" src="static/js/dropzone.js"></script>
<script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bundle.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<body>
    <header class="main_header">
        <div class="header_wrapper">
        	<div class="logo_sect">
                <a href="index.html" class="logo"><img src="img/logo.png" alt=""  class="logo_def"><img src="img/retina/logo.png" alt="" class="logo_retina"></a>
                <div class="slogan">html photo template</div>
            </div>                       
            <div class="header_rp">
                <nav>
                    <div class="menu-main-menu-container">
                    	<ul id="menu-main-menu" class="menu">
                        	<li class="current-menu-parent menu-item-has-children">
                            	<a href="#"><span>Editor</span></a>
                                <ul class="sub-menu">
                                	<li class="current-menu-item"><a href="index.html"><span>Slider</span></a></li>
                                    <li><a href="portfolio_masonry.html"><span>Masonry Portfolio</span></a></li>
                                    <li><a href="horizontal_striped.html"><span>Horizontal Striped</span></a></li>
                                    <li><a href="vertical_striped.html"><span>Vertical Striped</span></a></li>                                    
                                    <li><a href="revolution_slider.html"><span>Revolution Slider</span></a></li>
                                    <li><a href="bg_image.html"><span>Image BG</span></a></li>
                                    <li><a href="bg_video.html"><span>Vimeo BG</span></a></li>
                                    <li><a href="bg_youtube_video.html"><span>Youtube BG</span></a></li>
                                </ul>                            
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Gallery</span></a>
                                <ul class="sub-menu">
                                    <li><a href="gallery_kenburns.html"><span>Kenburns</span></a></li>
                                    <li><a href="gallery_flow.html"><span>Flow</span></a></li>
                                    <li><a href="gallery_ribbon.html"><span>Ribbon</span></a></li>
                                    <li><a href="gallery_photo_listing.html"><span>Photo Listing</span></a></li>
                                    <li><a href="gallery_grid.html"><span>Grid</span></a></li>
                                    <li><a href="gallery_grid_with_margin.html"><span>Grid 2</span></a></li>
                                    <li><a href="gallery_masonry.html"><span>Masonry</span></a></li>
                                    <li><a href="gallery_masonry_with_margin.html"><span>Masonry 2</span></a></li>
                                </ul>                            
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Portfolio</span></a>
                                <ul class="sub-menu">
                                	<li><a href="portfolio_grid1.html"><span>Grid Style 1</span></a></li>
                                    <li><a href="portfolio_grid2.html"><span>Grid Style 2</span></a></li>
                                    <li><a href="portfolio_masonry_listing.html"><span>Masonry Style</span></a></li>
                                    <li><a href="portfolio_standard.html"><span>Isotope</span></a></li>
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Columns</span></a>
                                        <ul class="sub-menu">
                                        	<li><a href="portfolio_1col.html"><span>1 Column</span></a></li>
                                            <li><a href="portfolio_2col.html"><span>2 Columns</span></a></li>
                                            <li><a href="portfolio_3col.html"><span>3 Columns</span></a></li>
                                            <li><a href="portfolio_4col.html"><span>4 Columns</span></a></li>	
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Fullscreen Posts</span></a>
                                        <ul class="sub-menu">
                                        	<li><a href="fullscreen_ribbon_post.html"><span>Ribbon</span></a></li>
                                            <li><a href="fullscreen_post_without_info.html"><span>Without Info</span></a></li>
                                            <li><a href="fullscreen_post_with_info.html"><span>With Info</span></a></li>
                                            <li><a href="fullscreen_video_post_without_info.html"><span>Video Post</span></a></li>
                                            <li><a href="fullscreen_post_sidebar.html"><span>With Sidebar</span></a></li>                                        
                                        </ul>
                                    </li> 
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Simple Posts</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="simple_fullwidth_image_post.html"><span>Image</span></a></li>
                                            <li><a href="video_post_with_gallery.html"><span>Video</span></a></li>
                                            <li><a href="simple_image_post.html"><span>With Sidebar</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Blog</span></a>
                                <ul class="sub-menu">
                                    <li><a href="fullscreen_blog.html"><span>Fullscreen</span></a></li>
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Standard</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="blog_with_right_sidebar.html"><span>Right Sidebar</span></a></li>
                                            <li><a href="blog_with_left_sidebar.html"><span>Left Sidebar</span></a></li>
                                            <li><a href="fullwidth_blog.html"><span>Fullwidth</span></a></li> 
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Posts Variants</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="fullwidth_image_post.html"><span>Fullwidth Post</span></a></li>
                                            <li><a href="vimeo_video_post.html"><span>Right Sidebar</span></a></li>
                                            <li><a href="post_with_left_sidebar.html"><span>Left Sidebar</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Pages</span></a>                                
                                <ul class="sub-menu">
                                    <li><a href="about.html"><span>About</span></a></li>
                                    <li><a href="full_width.html"><span>Full Width</span></a></li>
                                    <li><a href="before_after.html"><span>Before/After</span></a></li>
                                    <li><a href="coming_soon.html"><span>Coming Soon</span></a></li>
                                    <li><a href="404.html"><span>404 Error</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Features</span></a>
                                <ul class="sub-menu">
                                    <li><a href="shortcodes.html"><span>Shortcodes</span></a></li>
                                    <li><a href="typography.html"><span>Typography</span></a></li>
                                    <li><a href="bootstrap_items.html">Bootstrap Items</a></li>
                                </ul>
                            </li>                            
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Contact</span></a>
                                <ul class="sub-menu">
                                    <li><a href="contacts_fullscreen.html"><span>Fullscreen</span></a></li>
                                    <li><a href="contact_with_sidebar.html"><span>With Sidebar</span></a></li>
                                    <li><a href="contact_fullwidth.html"><span>Fullwidth</span></a></li>
                                </ul>  
                            </li>                        
                        </ul>
                    </div>
                    <div class="search_fadder"></div>
                    <div class="header_search">
                        <form name="search_form" method="get" action="#" class="search_form">
                        	<input type="text" name="s" value="" placeholder="Search the site..." class="field_search">
                        </form> 
                    </div>                
                </nav>            
                <a class="search_toggler" href="#"></a>
			</div>
            <div class="clear"></div>
        </div>
    </header>
    
    <div class="fs_fadder hided"></div>
	<div class="fs_sharing_wrapper hided"> 
		<div class="fs_sharing">	
            <a href="http://www.facebook.com/share.php?u=http://www.gt3themes.com/website-templates/oyster/" class="share_facebook" target="_blank"><i class="icon-facebook-square"></i></a>
            <a href="http://pinterest.com/pin/create/button/?url=http://www.gt3themes.com/website-templates/oyster/&media=http://www.gt3themes.com/website-templates/oyster/img/logo.png" class="share_pinterest" target="_blank"><i class="icon-pinterest"></i></a>                                                            
            <a href="https://twitter.com/intent/tweet?text=Fullscreen Slider&amp;url=http://www.gt3themes.com/website-templates/oyster/" class="share_tweet" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://plus.google.com/share?url=http://www.gt3themes.com/website-templates/oyster/" class="share_gplus" target="_blank"><i class="icon-google-plus-square"></i></a>
            <a class="fs_share_close hided" href="javascript:void(0)"></a>
        </div>
    </div>
    <div class="container">
        <div id="wrapper" class="row">
            <div class="col-md-2">
                <div class="sidebar-nav-fixed affix">
                    <div class="well">
                        <ul class="nav">
                            <li class="nav-header">Shape</li>
                            <li class="active" onclick="create('box')"><a>Box</a></li>
                            <li onclick="create('sphere')"><a>Sphere</a></li>
                            <li onclick="create('cylinder')"><a>Cylinder</a></li>
                            <li onclick="create('plane')"><a>Plane</a></li>
                            </li>
                            <li class="nav-header">Primitive</li>
                            <li class="active" data-toggle="modal" data-target="#myModal"><a>Image</a></li>
                            <li onclick="create('teleport')"><a>Teleport</a></li>
                            <li onclick="setMiniMap()"><a>minimap</a></li>
                            </li>
                        </ul>
                    </div>
                    <!--/.well -->
                    <form id="image_form" action="/upload/image" method="post" enctype="multipart/form-data" target="uploader_iframe">
                    	<input id="image_file" type="file" name="image_file" size="30" />
                    </form>
                    <!-- Hidden iframe which will interact with the server, do not forget to give both name and id values same -->
                    <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>
                </div>
                <!--/sidebar-nav-fixed -->
            </div>
            <!--/span-->
            <div id="main-canvas" class="col-md-8 ">
              <div id="upload_before">
                <form action="/upload/background" class="dropzone needsclick dz-clickable" id="my" method="post" enctype="multipart/form-data">
                  <input type="file" name="file" id="file" class="dz-hidden-input" style="visibility:hidden;"/>
                  <div class="dz-message needsclick">
                    "Drop files or click to upload"
                  </div>
                </form>
              </div>
              <div id="upload_after" style="height:100%;display:none;">
                <iframe id="main_scene" class="main_scene" width="100%" height="100%" allowfullscreen="yes" scrolling="no" allowvr="yes" src="static/html/canvas.html"></iframe>
              </div>
            </div>
            <!--/span-->
            <div class="col-md-2">
                <div class="sidebar-nav-fixed pull-right affix">
                    <div class="well">
                        <table class="nav object-list">
                            <thead>
                                <h4>Properties</h4>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Id</b></td>
                                    <td class='list-value object-id'>none</td>
                                </tr>
                                <tr>
                                    <td><b>Shape</b></td>
                                    <td class='list-value object-shape'>none</td>
                                </tr>
                                <tr>
                                    <td><b>Position</b></td>
                                    <td class='list-value object-position'>none</td>
                                </tr>
                                <tr>
                                    <td><b>Rotation</b></td>
                                    <td class='list-value object-rotation'>none</td>
                                </tr>
                                <tr>
                                    <td><b>Scale</b></td>
                                    <td class='list-value object-scale'>none</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <button id="delete-btn">Delete</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!--/.well -->
                    <div class="well">
                        <table class="nav object-list">
                            <thead>
                                <h4>Events</h4>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class='list-value object-id'>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="eventArg" type="text" name="">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="well">
                        <table class="nav object-list">
                            <thead>
                                <h4>Loads</h4>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="loadInput" type="text" name="">
                                        <button id="saveBtn">Save</button>
                                        <button id="loadBtn">Load</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!--/.well -->
                </div>
                <!--/sidebar-nav-fixed -->
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <footer>
        </footer>
    </div>
    <!--/.fluid-container-->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <form id="image-form">
            <input type="submit" style="position: absolute; left: -9999px" />
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Image</h4>
                    </div>
                    <div class="modal-body">
                        <p>URL:
                            <input id="img-url" type="" name="">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="create('image')">OK</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="static/js/modules.js"></script>
	<script type="text/javascript" src="static/js/theme.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script>
		gallery_set = []
		
		jQuery(document).ready(function(){
			"use strict";
			jQuery('html').addClass('hasPag');
			jQuery('body').fs_gallery({
				fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
				fit: 'no_fit',
				slide_time: 3300, /*This time must be < then time in css*/
				autoplay: 0,
				show_controls: 1,
				slides: gallery_set
			});
			jQuery('.fs_share').click(function(){
				jQuery('.fs_fadder').removeClass('hided');
				jQuery('.fs_sharing_wrapper').removeClass('hided');
				jQuery('.fs_share_close').removeClass('hided');
			});
			jQuery('.fs_share_close').click(function(){
				jQuery('.fs_fadder').addClass('hided');
				jQuery('.fs_sharing_wrapper').addClass('hided');
				jQuery('.fs_share_close').addClass('hided');
			});
			jQuery('.fs_fadder').click(function(){
				jQuery('.fs_fadder').addClass('hided');
				jQuery('.fs_sharing_wrapper').addClass('hided');
				jQuery('.fs_share_close').addClass('hided');
			});
			
			jQuery('.close_controls').click(function(){
				if (jQuery(this).hasClass('open_controls')) {
					jQuery('.fs_controls').removeClass('hide_me');
					jQuery('.fs_title_wrapper ').removeClass('hide_me');
					jQuery('.fs_thmb_viewport').removeClass('hide_me');
					jQuery('header.main_header').removeClass('hide_me');
					jQuery(this).removeClass('open_controls');
				} else {		
					jQuery('header.main_header').addClass('hide_me');
					jQuery('.fs_controls').addClass('hide_me');
					jQuery('.fs_title_wrapper ').addClass('hide_me');
					jQuery('.fs_thmb_viewport').addClass('hide_me');
					jQuery(this).addClass('open_controls');
				}
			});
			
			jQuery('.main_header').removeClass('hided');
			jQuery('html').addClass('without_border');			
		});
	</script> 
    
    <script type="text/javascript" src="static/js/fs_gallery.js"></script>
</body>

</html>
<script type="text/javascript">
  $(function() {
    $("#image_file").change(function() {
      $("#image_form").submit();  // Submits the form on change event, you consider this code as the start point of your request (to show loader)
      $("#uploader_iframe").unbind().on('load', function() {  // This block of code will execute when the response is sent from the server.
        result = JSON.parse($(this).contents().text());  // Content of the iframe will be the response sent from the server. Parse the response as the JSON object
        createImage('image', result.result);
      });
    });
  });

  Dropzone.options.my = {
      paramName: "photo", // The name that will be used to transfer the file
      maxFilesize: 1024, // MB
      url: "/upload/background",
      success : function(file, res){
        console.log('backgroudn : ' + res);
        $("#upload_before").css("display", "none");
        $("#upload_after").css("display", "");
        setBackground(res);
      }
    };
</script>
